@import url("https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html body,
body body {
  font-size: 100%;
  background-image: linear-gradient(to right, #282a36, #44475a);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
.cabecalho .cabecalho-logo {
  height: 80px;
}
.cabecalho .cabecalho-menu {
  display: flex;
  gap: 35px;
}

.cabecalho-menu-item {
  font-family: "Inter", sans-serif;
  color: #f8f8f2;
  font-weight: 400;
  font-size: 18px;
}
.cabecalho-menu-item:hover {
  color: #bd93f9;
  transition-duration: 0.4s;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 1px solid #6272A4;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  font-size: 40px;
  color: #f8f8f2;
  text-align: center;
}

.conteudo-principal-escrito-paragrafo {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 17px;
  color: #f8f8f2;
  max-width: 900px;
  text-align: center;
}

.conteudo-secundario {
  margin: 0 auto;
}
.conteudo-secundario .conteudo-secundario-card {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.conteudo-secundario .conteudo-secundario-c {
  display: inline-grid;
  -moz-column-gap: 50px;
       column-gap: 50px;
  width: 300px;
  height: 700px;
  margin-bottom: 20px;
  /*width: 100%;
  height: 400px; 
  max-width: 300px;*/
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  align-items: baseline;
}
.conteudo-secundario .conteudo-secundario-c:not(:first-child) {
  margin: 8px;
}
.conteudo-secundario .conteudo-secundario-c:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.conteudo-secundario .conteudo-secundario-c:hover ~ .conteudo-secundario-card {
  position: relative;
  transition: 0.4s ease-out;
}
.conteudo-secundario .conteudo-secundario-titulo {
  border-top: 0.4px solid #6272A4;
  padding-top: 48px;
  padding-bottom: 30px;
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  font-size: 40px;
  color: #f8f8f2;
  text-align: center;
  margin-bottom: 30px;
}
.conteudo-secundario .conteudo-secundario-imagem {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
.conteudo-secundario .conteudo-secundario-subtitulo {
  font-family: "Inter", sans-serif;
  color: #8be9fd;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.conteudo-secundario .conteudo-secundario-paragrafo {
  -moz-column-gap: 10%;
       column-gap: 10%;
  line-height: 23px;
  padding: 0px 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 17px;
  color: #f8f8f2;
  text-align: center;
  height: 350px;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #6272A4;
}
.rodape .rodape-titulo {
  text-align: center;
  font-size: 50px;
  font-family: "Irish Grover", cursive;
  color: #8be9fd;
}/*# sourceMappingURL=main.css.map */