@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&family=Roboto+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #44475a;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.cabecalho-logo {
    height: 80px;
}

.cabecalho-menu {
    display: flex;
    gap: 35px;    
}

.cabecalho-menu-item {
    font-family: 'Inter', sans-serif;
    color: #f8f8f2;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    background-color: #6272A4;
    transition-duration: 0.4s;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 1px solid #6272A4;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #f8f8f2;
    text-align: center;
}

.conteudo-principal-escrito-paragrafo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 17px;
    color: #f8f8f2;
    max-width: 900px;
    text-align: center;
}

.conteudo-secundario {
    max-width: 960px;
    margin: 0 auto;
}

/*
.conteudo-secundario-card {
    display: flex;
    flex-direction: row wrap;
    margin-top: 50px;
    padding: 40px; 
}
*/

.conteudo-secundario-c {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    background-color: bisque;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #6272A4;
    padding-top: 48px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #f8f8f2;
    text-align: center;
    margin-bottom: 30px;
}

.conteudo-secundario-imagem {
    display: block;
    margin: 0 auto;
}

.conteudo-secundario-subtitulo {
    font-family: 'Inter', sans-serif;
    color: #8be9fd;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.conteudo-secundario-paragrafo {
    line-height: 23px;
    padding: 0px 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 17px;
    color: #f8f8f2;
    text-align: center;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #6272A4;
}

.rodape-titulo {
    text-align: center;
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
    color: #8be9fd;
}